.vs
.dotnet
Minimarket.API/bin
Minimarket.API/obj
Minimarket.Customer/bin
Minimarket.Customer/obj
Minimarket.Admin/bin
Minimarket.Admin/obj
Minimarket.Core/bin
Minimarket.Core/obj
Minimarket.API.Test/bin
Minimarket.API.Test/obj
Minimarket.DumyData/bin
Minimarket.DumyData/obj

openspec
.agent
.codex
.github/prompts
.github/skills
Minimarket.CLI/obj
Minimarket.CLI/bin
